@media only screen and (min-width:0px) and (max-width:600px){
    /* navbar css start */
    .navbar h4{
        font-size: 10px;
    }

    .navbar i{
        font-size: 20px;
    }

    .group2{
        display: none;
    }

    .group3 button{
        font-size: 10px;
        padding: 4px 10px;
    }

    /* navbar css end */

    /* hero section start */
    .hero-right img{
        display: none;
    }

    .hero-left{
        width: 100%;
        padding: 20px;
    }

    .hero-left h4{
        font-size: 45px;
    }

    .dev{
        font-size: 50px;
    }

    .hero-left p{
        display: none;
    }

    .social{
        height: 40vh;
    }

    .s-icon{
        height: 60px;
        width: 60px;
    }
        /* hero section end */

        /* my skill start */
        .myskill .heading{
            margin-top: -130px;
        }
        /* my skill end */

        /* my experiance start */
        .exp-card{
            width: 100%;
            padding: 10px;
        }

        .exp-card div h2{
            font-size: 15px;
        }

        .exp-card div:first-child{
            font-size: 20px;
        }
        /* my experiance end */

        /* about section start */
        .about{
            height: auto;
            flex-direction: column;
        }

        .about-left{
            width: 100%;
        }

        .about-right{
            width: 100%;
        }

        .about-left img{
            width: 100%;
        }
        /* about section start */

        /* my project section start */
        .project{
            height: auto;
            flex-direction: column;
            gap: 10px;
            padding: 20px;
            border: 2px solid #f2f2f2;
            border-radius: 20px;
            margin: 5px 0;
        }

        .project-img{
            width: 100%;
        }

        .project-img img{
            width: 100%;
        }

        .project-text{
            width: 100%;
            gap: 5px;
        }

        .project-text h1{
            font-size: 25px;
        }
        /* my project section start */
        
        /* contact us start */
        .contact-form{
            width: 100%;
        }

        .contact-text{
            display: none;
        }

        .contact-form form input, .contact-form form textarea{
            width: 100%;
        }

        textarea{
            width: 100% !important;
        }

        .social button{
            height: 60px;
            width: 150px;
            font-size: 15px;
        }
        /* contact us start */
        .footer{
            display: none;
        }
}
/*for tablet css */
@media only screen and (min-width:600px) and (max-width:800px){

}